@tailwind base;
@tailwind components;
@tailwind utilities;



.back{
   background: linear-gradient(120deg, #642db7, #d14f4f);
   fill: white;
}

.back2{
   background: linear-gradient(120deg, #af2b90, #5c10b3);
   fill: white;
}